# Build

name: Build

on:
  push:
    branches: [ master ]
    paths-ignore:
      - '/doc'
      - '**/README.md'
  pull_request:
    branches: [ master ]
    paths-ignore:
      - '/doc'
      - '**.md'
  
jobs:
  build:
    name: R ${{ matrix.config.r }} | ${{ matrix.config.os }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          #- {os: ubuntu-20.04, r: 'oldrel'}
          - {os: ubuntu-20.04, r: 'release'}
    
    env:
        INSPIRE_API_ENDPOINT: ${{ secrets.INSPIRE_API_ENDPOINT }}
        INSPIRE_API_KEY: ${{ secrets.INSPIRE_API_KEY }}
        ZENODO_SANDBOX_TOKEN: ${{ secrets.ZENODO_SANDBOX_TOKEN }}
    
    steps:
      - uses: actions/checkout@v2
      #SDI integration tests
      #-------------------------
      #Docker Geoserver set-up
      - name: Set up GeoServer (latest)
        run: |
          docker pull kartoza/postgis
          docker run -d --name="postgis" kartoza/postgis
          docker run --name "geoserver" --link postgis:postgis -e GEOSERVER_ADMIN_USER=admin -e GEOSERVER_ADMIN_PASSWORD=geoserver -e SAMPLE_DATA=true -p 8080:8080 -d -t kartoza/geoserver:latest
      #Docker GeoNetwork set-up
      - name: Set up GeoNetwork (latest)
        run: |
          docker network create elasticnetwork
          docker run -d --name elasticsearch --net elasticnetwork --add-host host.docker.internal:host-gateway -p 9200:9200 -p 9300:9300 -e "discovery.type=single-node" elasticsearch:7.9.2
          docker run --add-host host.docker.internal:host-gateway -e ES_HOST=host.docker.internal --net elasticnetwork --name geonetwork -d -p 8181:8080 geonetwork
      #Docker PyCSW set-up
      - name: Set up PyCSW (latest)
        run: |
          docker pull geopython/pycsw:latest
          docker run --name pycsw -v $GITHUB_WORKSPACE/tests/resources/pycsw/pycsw.cfg:/etc/pycsw/pycsw.cfg -d -p 8000:8000 geopython/pycsw:latest
      #R tests
      #--------------------------
      #R Set-up
      - name: Set up R ${{ matrix.config.r }}
        uses: r-lib/actions/setup-r@v1
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true
      #Install dependencies
      - name: Install dependencies
        uses: r-lib/actions/setup-r-dependencies@v1
      #Check R Package
      - name: Check R package
        uses: r-lib/actions/check-r-package@check-r-package
        with:
          artifact-name: geoflow_r-${{ matrix.config.r }}_${{ matrix.config.os }}-results
